body{
    color: #000000;
    font-family: Arial;
    background-color: #ffffff;
    max-width: 750px;
    margin: 0 auto;
    padding: 30px 10px;
    font-size: 1.1em;
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, monospace;
}

a{
    color: #000000;
}

a:hover{
    color: #ffffff;
    background-color: #000000;
}

p{
    margin-left: 2.5vh;;
    padding-bottom: 0.5vh;
}

h2{
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 0.25vh;
    padding-top: 0.5vh;
}


h1{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
}

ul{
    list-style-type: none;
}

footer{
    margin-top: 100px;
    text-align: center;
}


.title{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2.5vh;
    text-align: center;
}
