body{
    color: #ebdbb2;
    background-color: #282828;
    font-family: Arial;
    background-color: #282828;
    max-width: 750px;
    margin: 0 auto;
    padding: 30px 10px;
    font-size: 1.1em;
}
